---
layout: html
---

<header class="page--header">
    <div class="page--header-inner">
        <h2 class="site--name"><a href="/" class="site--name--inner">{{ site.name }}</a></h2>
        {% include html/menu.html %}
    </div>
</header>

{% if page.title != '' %}<h1 class="page--title inside-header"><span class="page--title--inner inside-header"><span class="page--title--inner-inner">{{ page.title }}</span></span></h1>{% endif %}

<div class="page--content">
    {% if page.title != '' %}
    <h1 class="page--title inside-content" id="page--title-inside-content">
    {{ page.title }}
    {% if page.date %}<span class="blog-date">{{ page.date | date_to_long_string }}</span>{% endif %}
    </h1>
    {% endif %}
</div>

{% include blogs/pager.html %}

    {% if page.image %}<div src="" class="page-header-image" style="background-image: url('/img/{{ page.image }}');"></div>{% endif %}
<main class="page--content">
    <div class="page-content-body">
        {{ content }}
    </div>
</main>