---
layout: html
---

<header class="page--header">
    <h2 class="site--name"><a href="/" class="site--name--inner">{{ site.name }}</a></h2>
    {% include html/menu.html %}
</header>

{% if page.title != '' %}<h1 class="page--title inside-header"><span class="page--title--inner inside-header">{{ page.title }}</span></h1>{% endif %}

<main class="page--content">
    {% if page.title != '' %}<h1 class="page--title inside-content" id="page--title-inside-content">{{ page.title }}


    {% if page.date %}
    <span class="blog-date">{{ page.date | date_to_long_string }}</span>
    {% endif %}

</h1>{% endif %}

    {% if page.header %}<img src="/img/{{ page.header }}" class="page-header-image">{% endif %}

    <div class="page-content-body">
        {{ content }}
    </div>
</main>
