.blog-date {
  margin-top: $gutter * 4;
  width: 100%;
  background: white;
  font-family: $font-body;
  color: $color-secondary;
  text-transform: uppercase;
  font-size: 18px;
  float: left;
  clear: both;
}