.frontpage-block {
  float: left;
  width: 100%;
}

.frontpage-block--items-title {
  background-color: $color-gray;
  margin: $gutter * 2;
  margin-bottom: 40px;
  padding: 2px 6px;
  text-align: center;
  border-radius: 3px;
  text-transform: lowercase;
  color: $color-secondary;
}

.frontpage-block--inner {
  padding: 0 25px;
}


@media screen and (min-width: 700px) {
  .frontpage-block {
    width: calc(50% - 50px);
  }

  .frontpage-block:nth-of-type(odd) {
    margin-right: 100px;
  }

  .frontpage-block--items-title {
    margin: $gutter * 2 0 !important;
  }
}