.items-title {
  background-color: $color-gray;
  margin: $gutter * 2;
  margin-bottom: 40px;
  padding: 2px 6px;
  text-align: center;
  border-radius: 3px;
  text-transform: lowercase;
  color: $color-secondary;
}