.page-header-image {
  width: 100%;
  margin: 0 auto 60px;
  display: block;
  min-height: 200px;
  clear: both;
  background-size: cover;
  background-position: center center;
  padding-bottom: 40%;
  max-width: 1500px;
}