.site--name {
  color: white;
  width: calc(100% - 50px);
  height: 50px;
  padding: 0 ($gutter * 4) 0 $gutter;
  white-space: nowrap;
  margin: 0;
  position: absolute;
  right: 50px;
  transition: transform $speed $easing 0s, z-index 0s $speed;
  overflow: hidden;
  background-color: $color-primary;
  z-index: 40;
  font-size: 40px;
  line-height: 64px;

  @media screen and (min-width: 700px) {
    font-size: 50px;
  }
}

.site--name--inner {
  transition: transform $speed $easing 0s;
  margin: -7px 0;
  position: absolute;
  right: 0;
  width: calc(100% - 50px);
  color: white;
  text-decoration: none;
}

[data-mobile-header="collapsed"] {
  .site--name {
    z-index: 8;
    transition: transform $speed $easing 0s, z-index 0s 0s;
    transform: translateX(100vw);
  }

  .site--name--inner {
    transform: translateX(-100vw);
  }
}

@media screen and (min-width: $max-width) {
  $slowing-factor: 1.6;
  .site--name {
    transition: transform ($speed * $slowing-factor) $easing 0s, z-index 0s ($speed * $slowing-factor) !important;
  }

  .site--name--inner {
    transition: transform ($speed * $slowing-factor) $easing 0s !important;
  }

  [data-mobile-header="collapsed"] .site--name {
    transition: transform ($speed * $slowing-factor) $easing 0s, z-index 0s 0s !important;
  }
}