$speed: .3s;
$easing: cubic-bezier(.48,.14,.56,.94);

$gutter: 13px;

$color-primary: #58b23f;
$color-secondary: #666666;
$color-tertiary: #ff5523;
$color-gray: #f2f2f2;

$font-header: "Moon Flower";
$font-body: "lane";

$max-width: 960px;