<nav class="menu-main" id="menu-main">
    <a href="#" id="mobile-toggle" class="menu-main--mobile-toggle mobile-toggle">
        <div class="mobile-toggle--bar"></div>
        <div class="mobile-toggle--bar"></div>
        <div class="mobile-toggle--bar"></div>
    </a>

    <ul class="menu-main--menu-list menu-list">
        <li class="menu-list--item"><a class="item--link" href="">Blogs over reizen & eten</a></li>
        <li class="menu-list--item"><a class="item--link" href="">Foto's van mijn schilderijen</a></li>
        <li class="menu-list--item"><a class="item--link" href="">Over onze reis</a></li>
        <li class="menu-list--item"><a class="item--link" href="">Over mij</a></li>
        <li class="menu-list--item"><a class="item--link" href="">Blogs over reizen & eten</a></li>
        <li class="menu-list--item"><a class="item--link" href="">Foto's van mijn schilderijen</a></li>
        <li class="menu-list--item"><a class="item--link" href="">Over onze reis</a></li>
        <li class="menu-list--item"><a class="item--link" href="">Over mij</a></li>
    </ul>
</nav>